@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li { display: inline; }

h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(132, 105, 53);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.023);
}

#logo {
    max-width:70px;
    max-height: 70px;
    width: auto;
    height: auto;
    margin: 10px 20px 20px 20px;
}

.photoKanom {
    width: 250px;
    margin: 20px;
}

.navbar .nav {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Chonburi', cursive;
}

#home, #product{
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 20px 20px 20px 20px;
    color: white;
}

#products{
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 20px 20px 20px 20px;
    color: rgb(169, 153, 130);
}

.navbar {
    background-color: rgba(62, 111, 80, 0.544);
}

#KN001 {
    position: absolute;
    width: 300px;
    height: 480px;
    left: 65px;
    top: 200px;
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 16px;
}

#KN002 {
    position: absolute;
    width: 300px;
    height: 480px;
    left: 385px;
    top: 200px;
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 16px;
}

#KN003 {
    position: absolute;
    width: 300px;
    height: 480px;
    left: 705px;
    top: 200px;
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 16px;
}

#KN004 {
    position: absolute;
    width: 300px;
    height: 480px;
    left: 1025px;
    top: 200px;
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(163, 195, 163);
}

button {
    margin-top: 5px;
    padding: 10px 40px 10px 40px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    background-color: pink;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    color: rgb(43, 43, 43);
}

button:hover {
    background-color: rgb(228, 106, 127);
    color: white;
}

.btn {
    padding: 10px 20px 10px 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    background-color: pink;
    border-radius: 5px;
    transition: 0.3s;
    margin:20px 35px;
}

.imgBasket {
    width: 15px;
    margin-right: 5px;
    margin-left: 0px;
}